/* This is a CSS file */

.button--large {
    
    float:left;
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: auto;
  text-decoration: none;
  padding: 4px 20px;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0;
  color: #fff;
  text-shadow: 0 1px none;
  vertical-align: middle;
  
  background-color:#ff3300；
    
  box-shadow: none;
  border: 4px solid #FFFFFF;
  border-radius: 10px;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  -o-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  font-weight: 400;
  font-size: 25px;
  font-weight: 500;
  line-height: 80px;
  padding: 4px 20px;
  display: block;
  width: 49.5%;
}
.button--large:active {
  background-color: #1284ff;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 0.6;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--large:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.button--large:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--large:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}


.button--large2 {
    float:right;
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  font-family: "ＭＳ ゴシック",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: auto;
  text-decoration: none;
  padding: 4px 20px;
  font-size: 50px;
  line-height: 36px;
  letter-spacing: 0;
  color: #fff;
  text-shadow: 0 1px none;
  vertical-align: middle;
  background-color: #e5171f;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 4px;
  border: 4px solid #FFFFFF;
  border-radius: 10px;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  -o-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  font-weight: 400;
  font-size: 28px;
  font-weight: 500;
  line-height: 80px;
  padding: 4px 20px;
  display: block;
  width: 49.5%;
  text-decoration:none;
  text-dedoration-color: #ffffff;
}
.button--large2:active {
  background-color: #1284ff;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 0.6;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--large2:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.button--large2:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--large2:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}



.button--large3 {
    float:left;
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  font-family: "ＭＳ ゴシック",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: auto;
  text-decoration: none;
  padding: 4px 20px;
  font-size: 50px;
  line-height: 36px;
  letter-spacing: 0;
  color: #fff;
  text-shadow: 0 1px none;
  vertical-align: middle;
  background-color: #e5171f;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 4px;
  border: 4px solid #FFFFFF;
  border-radius: 10px;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  -o-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  font-weight: 400;
  font-size: 28px;
  font-weight: 500;
  line-height: 80px;
  padding: 4px 20px;
  display: block;
  width: 49.5%;
  text-decoration:none;
  text-dedoration-color: #ffffff;
}
.button--large3:active {
  background-color: #1284ff;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 0.6;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--large3:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.button--large3:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--large3:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}


.button--large4 {
    float:right;
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: auto;
  text-decoration: none;
  padding: 4px 20px;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0;
  color: #fff;
  text-shadow: 0 1px none;
  vertical-align: middle;
  background-color: #1284ff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  -o-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  font-weight: 400;
  font-size: 16px;
  font-weight: 500;
  line-height: 80px;
  padding: 4px 20px;
  display: block;
  width: 48%;
}
.button--large4:active {
  background-color: #1284ff;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 0.6;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--large4:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.button--large4:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--large4:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

