* {
  /*margin: 0;*/
  padding: 0;
  border: none;
}
#aaa:link {
  color: #000;
}
#aaa:visited {
  color: #000;
}
#aaa:active {
  color: #000;
}
#aaa:hover {
  color: #000;
}
html, body {
  height: 100%;
}
body {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  text-align: center;
  font-size: 12px;
}

#header img {
  width: 100%;
}

#header.img {
  background: #E73828;
}
section {
  margin: 5% 5% 1% 5%;
  width: 90%;
  height: 55%;
}

/* SlideArea
-------------------------- */

#slidewrap {
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: left;
  background white;
}
#slidewrap ul li {
  list-style: none;
}
#slidemask {
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* PhotoSlideArea
-------------------------- */

ul#photo {
  top: 0;
  left: 0;
  width: 13500px;
  height: 100%;
  position: relative;
}
ul#photo li {
  width: 500px;
  height: 100%;
  float: left;
  position: relative;
}
ul#photo li img {
  max-width: 500px;
  width: 500px;
  height: 100%;
  float: left;
  position: relative;
}
ul#photo li span {
  bottom: 0;
  left: 0;
  padding: 0 10px;
  width: 480px;
  height: 40px;
  line-height: 30px;
  color: white;
  font-weight: bold;
  background: #333;
  position: absolute;
  opacity: 0.5;
}
#button {
  width: 100%;
}
#button ul {
  height: 30%;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  list-style-type: none;
  position: absolute;
}
#button img {
  display: inline-block;
  margin: 1%;
  width: 31%;
  float: left;
  list-style-type: none;
  /*リストマーカー無しにする*/
  background-repeat: no-repeat;
  /*背景画像を繰り返さない*/
}


/*------------------------------------------------------------------------------480px以上のスクリーン*/

@media screen and (min-width: 480px) {
  section {
    margin: 5% 5% 1% 5%;
    width: 90%;
    height: 40%;
  }
  #slidewrap {
    width: 500px;
    height: 375px;
    /*text-align: left;*/
    background white;
  }
  #slidewrap ul li {
    list-style: none;
  }
  #slidemask {
    width: 500px;
    height: 375px;
    overflow: hidden;
    position: relative;
  }
  /* PhotoSlideArea
-------------------------- */
  ul#photo {
    top: 0;
    left: 0;
    width: 13500px;
    height: 100%;
    position: relative;
  }
  ul#photo li {
    width: 500px;
    height: 100%;
    float: left;
    position: relative;
  }
  ul#photo li img {
    max-width: 500px;
    width: 500px;
    height: 100%;
    float: left;
    position: relative;
  }
  ul#photo li span {
    bottom: 0;
    left: 0;
    padding: 0 10px;
    width: 480px;
    height: 40px;
    line-height: 30px;
    color: white;
    font-weight: bold;
    background: #333;
    position: absolute;
    opacity: 0.5;
  }
  #button {
    width: 100%;
  }
  #button ul {
    height: 30%;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    list-style-type: none;
    position: absolute;
  }
  #button img {
    display: inline-block;
    margin: 1%;
    width: 31%;
    float: left;
    list-style-type: none;
    /*リストマーカー無しにする*/
    background-repeat: no-repeat;
    /*背景画像を繰り返さない*/
  }
}

/*------------------------------------------------------------------------------980px以上のスクリーン*/

@media screen and (min-width: 980px) {
#header{
  background-color: rgb(250, 50, 30);
}
  #header img {
    width: 50%;
  }
  section {
    margin: 5% 5% 1% 5%;
    left:10%;
    width: 500px;
    height: 375px;
    float:left;
  }
  #slidewrap {
    width: 500px;
    height: 375px;
    /*text-align: left;*/
    background white;
  }
  #slidewrap ul li {
    list-style: none;
  }
  #slidemask {
    width: 500px;
    height: 375px;
    overflow: hidden;
    position: relative;
  }
  /* PhotoSlideArea
-------------------------- */
  ul#photo {
    top: 0;
    left: 0;
    width: 13250px;
    height: 100%;
    position: relative;
  }
  ul#photo li {
    width: 500px;
    height: 100%;
    float: left;
    position: relative;
  }
  ul#photo li img {
    max-width: 500px;
    width: 500px;
    height: 100%;
    float: left;
    position: relative;
  }
  ul#photo li span {
    bottom: 0;
    left: 0;
    padding: 0 10px;
    width: 480px;
    height: 40px;
    line-height: 30px;
    color: white;
    font-weight: bold;
    background: #333;
    position: absolute;
    opacity: 0.5;
  }
  #button {
    width: 50%;
    float:left;
  }
  #button ul {
    height: 60%;
    width: 40%;
    margin: auto;
    top:440px;
    right:3%;
    float: left;
    list-style-type: none;
    position: absolute;
  }
  #button img {
    display: inline-block;
    margin: auto;
    width: 30%;
    float: left;
    list-style-type: none;
    /*リストマーカー無しにする*/
    background-repeat: no-repeat;
    /*背景画像を繰り返さない*/
  }
}

/* CSS3 PhotoSlideAnimation
-------------------------- */
/* kouketsu Mod Start */
@-webkit-keyframes AutoSlidePhoto {
/*
  0% {
    left: 0;
  }
  3% {
    left: -500px;
  }
  6% {
    left: -1000px;
  }
  9% {
    left: -1500px;
  }
  12% {
    left: -2000px;
  }
  15% {
    left: -2500px;
  }
  18% {
    left: -3000px;
  }
  21% {
    left: -3500px;
  }
  24% {
    left: -4000px;
  }
  27% {
    left: -4500px;
  }
  30% {
    left: -5000px;
  }
  33% {
    left: -5500px;
  }
  36% {
    left: -6000px;
  }
  39% {
    left: -6500px;
  }
  42% {
    left: -7000px;
  }
  45% {
    left: -7500px;
  }
  48% {
    left: -8000px;
  }
  51% {
    left: -8500px;
  }
  54% {
    left: -9000px;
  }
  57% {
    left: -9500px;
  }
  60% {
    left: -10000px;
  }
  63% {
    left: -10500px;
  }
  66% {
    left: -11000px;
  }
  69% {
    left: -11500px;
  }
  72% {
    left: -12000px;
  }
  75% {
    left: -12500px;
  }
  78% {
    left: -13000px;
  }
  81% {
    left: -13500px;
  }
  84% {
    left: -14000px;
  }
  87% {
    left: -14500px;
  }
  91% {
    left: -15000px;
  }
  95% {
    left: -15500px;
  }
  100% {
    left: -16000px;
  }
  */
  
  0% {
    left: 0;
  }
  4% {
    left: -500px;
  }
  8% {
    left: -1000px;
  }
  12% {
    left: -1500px;
  }
  16% {
    left: -2000px;
  }
  20% {
    left: -2500px;
  }
  24% {
    left: -3000px;
  }
  28% {
    left: -3500px;
  }
  32% {
    left: -4000px;
  }
  36% {
    left: -4500px;
  }
  40% {
    left: -5000px;
  }
  44% {
    left: -5500px;
  }
  48% {
    left: -6000px;
  }
  52% {
    left: -6500px;
  }
  56% {
    left: -7000px;
  }
  60% {
    left: -7500px;
  }
  64% {
    left: -8000px;
  }
  68% {
    left: -8500px;
  }
  72% {
    left: -9000px;
  }
  76% {
    left: -9500px;
  }
  79% {
    left: -10000px;
  }
  82% {
    left: -10500px;
  }
  85% {
    left: -11000px;
  }
  88% {
    left: -11500px;
  }
  91% {
    left: -12000px;
  }
  94% {
    left: -12500px;
  }
  97% {
    left: -13000px;
  }
  100%{
      left: -13500px;
  }
  
}
/* kouketsu Mod End */
ul#photo {
  -webkit-animation-name: AutoSlidePhoto;
  /*70sを150sに　koketsu Mod Start*/
  -webkit-animation-duration: 120s;
  /*70sを150sに　koketsu Mod End*/
  /*スライド開始までの時間を指定　koketsu Add Start*/
  animation-delay: 2s;
  /*スライド開始までの時間を指定　koketsu Add End*/
  -webkit-animation-iteration-count: infinite;
  animation-direction:alternate;
}
.float {
  overflow: hidden;
}
.button a:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
