/*新着*/
.toolbar {
    padding-top : 10px;
    padding-bottom : 10px;
    width: 100%;
    background-color : #fff;
    text-align : center;
    border-bottom : 1px solid #d6d6d6;
}

.button {
    top: 10px;
    right: 10px;
    position: fixed;
    border: 1px solid #057cff;
    border-radius: 4px;
   background: #fff;
   padding: 5px 10px 5px 10px;
   color: #057cff;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
}

#body{
    width: 100%;
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

#container {
    position: relative;
    padding-bottom: 15%;
}

.icb{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    transform: translate3d(0,0,0);
}
.icb .img{
    position:fixed;
    transform: translate3d(0,0,0);
}

.icb2{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}
 

#mask {
    position: fixed;
    opacity: 0.8;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #191919;
}

/*
#loading {
    margin: 0 auto;
    width: 32px;
    padding-top: 140px;
}
*/

.feed-item {
    border-bottom: 1px solid #ccc;
    line-height: 1.2;
    padding: 6px;
    height: 17vw;
}
.feed-item:nth-child(2n) {
    background: #f6f3f6;
}

.feed-item time {
    font-size: 90%;
    color: #006ADB;
}

.feed-list {
    position: relative;
    margin: 1.8em 0;
    padding: 0.5em 1em;
    border: solid 3px #EB3228;
    margin-left: 1em;
    margin-right: 1em;
    top: -50px;
}
.feed-list .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 17px;
    background: #EB3228;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.feed-list p {
    margin: 0; 
    padding: 0;
}

/* */



body{
    font-family: sans-serif;
}

input[type="checkbox"].on-off{
    display: none;
}
h2{
    clear:both;
}

.menu ul {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  color: #000;
  font-size: 12px;
}

.menu li {
    padding: 10px;
    text-align: center;
}

input[type="checkbox"].on-off + ul{
    height: 0;
    overflow: hidden;
}

input.on-off:checked + ul{
    height: 230px;
}



.mida {
position: relative;
padding-left: 25px;
font-size: 25px;
}

.mida:before {
position: absolute;
content: '';
bottom: -3px;
left: 0;
width: 0;
height: 0;
border: none;
border-left: solid 15px transparent;
border-bottom: solid 15px rgb(229, 23, 31);
}
.mida:after {
position: absolute;
content: '';
bottom: -3px;
left: 10px;
width: 95%;
border-bottom: solid 3px rgb(229, 23, 31);
}




.bt {
    float: left;
    display: inline-block;
    text-align: center;
    /*padding: 0.3em 1em;*/
    padding: 15px 0px;
    text-decoration: none;
    color: #e5171f;
    border: solid 4.5px #e5171f;
    border-radius: 2px;
    transition: .4s;
    font-size: 30px;
    margin-left: 2%;
    margin-bottom: 3%;
    /*font-weight: 500;*/
    width: 47%;
    height: 80px;
}

.me {
    float: left;
    display: inline-block;
    text-align: center;
    /*padding: 0.3em 1em;*/
    padding: 15px 0px;
    text-decoration: none;
    color: #e5171f;
    border: solid 4.5px #e5171f;
    border-radius: 2px;
    transition: .4s;
    font-size: 30px;
    margin-left: 2%;
    margin-bottom: 3%;
    /*font-weight: 500;*/
    width: 47%;
    height: 80px;
    margin-top: 6.3%;
}

.hm {
    display: inline-block;
    text-align: center;
    /*padding: 0.3em 1em;*/
    padding: 15px 0px;
    text-decoration: none;
    color: #e5171f;
    border: solid 4.5px #e5171f;
    border-radius: 2px;
    transition: .4s;
    font-size: 30px;
    margin-left: 2%;
    margin-bottom: 3%;
    /*font-weight: 500;*/
    width: 47%;
    height: 80px;
}

li{
    font-size: 17px;
}

#clear{
    clear: both;
    /*margin-top: 26%;*/
}

#c{
    clear: both;
}

#ml{
    float: left;
    font-size:20px;
    margin-left: 0.5%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 49%;
    height: 10%;
}

#mr{
    float: right;
    font-size:20px;
    margin-right: 0.5%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 49%;
    height: 10%;
}


.button--large1 {
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  font-family: "ＭＳ ゴシック",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 60px;
  text-decoration: none;
  padding: 4px 20px;
  font-size: 50px;
  line-height: 36px;
  letter-spacing: 0;
  color: #fff;
  text-shadow: 0 1px none;
  vertical-align: middle;
  background-color: #e5171f;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 4px;
  border: 4px solid #FFFFFF;
  border-radius: 10px;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  -o-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  font-weight: 400;
  font-size: 18px;
  font-weight: 500;
  line-height: 80px;
  padding: 4px 10px;
  display: block;
  width: 49.5%;
}
.button--large1:active {
  background-color: #1284ff;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 0.6;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--large1:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.button--large1:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--large1:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}



.button--large11 {
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  font-family: "ＭＳ ゴシック",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 60px;
  text-decoration: none;
  padding: 4px 20px;
  font-size: 50px;
  line-height: 36px;
  letter-spacing: 0;
  color: #fff;
  text-shadow: 0 1px none;
  vertical-align: middle;
  background-color: #e5171f;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 4px;
  border: 4px solid #FFFFFF;
  border-radius: 10px;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  -o-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  font-weight: 400;
  font-size: 18px;
  font-weight: 500;
  line-height: 80px;
  padding: 4px 20px;
  display: block;
  width: 49.5%;
}
.button--large11:active {
  background-color: #1284ff;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 0.6;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--large11:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.button--large11:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--large11:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}